

section >pre{
    white-space: pre-line;
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: bisque;
}
 
header{
    background-color: black;
    color: white;
    text-align: center;
}

header >h1{
    padding: 50px;

}
header >p{
padding-bottom: 50px;

}

a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;

}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;}
section{
padding-top: 10vh;
padding-bottom: 10vh;
line-height: 2em;
padding-left: 30px;



}
.normal{
    background-color: white;

}

.imagen{
    background-color: rgba(0, 0, 0, 0.741);
   color: white;
}
section > .pre > p {
   background-color: rgba(0, 0, 0, 0.425); 
   width: 400px;
}