h1{
    text-align: center;
    background-color: aquamarine;

}
h3{
    color: red;
    font-size: 3em ;
}
p#principal{
    background-color: red;
    width: 200px;
    font-size: 2em;
}
body{background-color: rgb(164, 255, 125);

}
