header{
    background-color: aqua;
border: 1px solid black;
}
body{
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3%;
}
nav{
    background-color: rgb(227, 9, 9);
    text-align: center;
    font-size:  x-large;
    box-shadow:2px 4px 8px black;

}
article{
    margin-top: -10px;
   background-image: linear-gradient(rgb(224, 212, 212),red);
}
main{
    background-color: rgb(224, 212, 212);
}

h2{
    margin-top: 0,1%;
    background-color: aliceblue;
}

